.modal-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
  }
  
  .modal-card {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 1.5rem;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .modal-card-primary {
    background-color: #984cdf;
    color: white;
  }
  
  .modal-card-secondary {
    background-color: #ffd34f;
    color: white;
  }
  
  .modal-card-danger {
    background-color: #dc3545;
    color: white;
  }
  
  .modal-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .modal-card button {
    width: 100%;
  }
  
  .modal-card video {
    margin-bottom: 1rem;
    background: transparent;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
  }
  