.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bg-lightyellow {
    background-color: #ffffcc; /* Couleur de fond jaune clair */
}

.video-container {
    max-width: 100%; /* Garantit que la vidéo s'adapte à la largeur du conteneur */
    overflow: hidden; /* Masque tout contenu dépassant du conteneur */
    border-radius: 15px; /* Coin arrondi pour le conteneur vidéo */
}

.video-container video {
    width: 100%; /* Remplit le conteneur vidéo */
    border-radius: 15px; /* Coin arrondi pour la vidéo elle-même */
}

.line-height-custom {
    line-height: 1.5;
}

.fw-bold {
    font-weight: bold;
}
